/**************
 * GtkInfoBar *
 **************/
GtkInfoBar {
    border-width: 1px;
    border-style: solid;
}

.info {
    text-shadow: 0 1px @info_text_shadow;
}

.warning {
    text-shadow: 0 1px @warning_text_shadow;
}

.question {
    text-shadow: 0 1px @question_text_shadow;
}

.error {
    text-shadow: 0 1px @error_text_shadow;
}

.info:backdrop,
.warning:backdrop,
.question:backdrop,
.error:backdrop {
    text-shadow: none;
    background-color: @unfocused_base_color;
    color: @unfocused_fg_color;
    border-color: @unfocused_borders_color;
}

.info .entry,
.info .entry:focus,
.info .button,
.info .button:insensitive,
.info .button:active {
    text-shadow: none;
    border-color: @info_borders_color;
    border-style: solid;
    border-width: 1px;
}


.warning .entry,
.warning .entry:focus,
.warning .button,
.warning .button:insensitive,
.warning .button:active {
    text-shadow: none;
    border-color: @warning_borders_color;
    border-style: solid;
    border-width: 1px;
}


.error .entry,
.error .entry:focus,
.error .button,
.error .button:insensitive,
.error .button:active {
    text-shadow: none;
    border-color: @error_borders_color;
    border-style: solid;
    border-width: 1px;
}

.question .entry,
.question .entry:focus,
.question .button,
.question .button:insensitive,
.question .button:active {
    text-shadow: none;
    border-color: @question_borders_color;
    border-style: solid;
    border-width: 1px;
}


.info .entry:backdrop,
.info .button:backdrop,
.info .button:insensitive:backdrop,
.info .button:active:backdrop,
.warning .entry:backdrop,
.warning .button:backdrop,
.warning .button:insensitive:backdrop,
.warning .button:active:backdrop,
.question .entry:backdrop,
.question .button:backdrop,
.question .button:insensitive:backdrop,
.question .button:active:backdrop,
.error .entry:backdrop,
.error .button:backdrop,
.error .button:insensitive:backdrop,
.error .button:active:backdrop {
    text-shadow: none;
    border-image: none;
    border-color: @unfocused_borders_color;
    border-style: solid;
    border-width: 1px;
    color: @unfocused_bg_color;
}

.info {
    background-color: @info_bg_color;
    color: @info_fg_color;
    border-color: @info_borders_color;
}

.warning {
    background-color: @warning_bg_color;
    color: @warning_fg_color;
    border-color: @warning_borders_color;
}

.question {
    background-color: @question_bg_color;
    color: @question_fg_color;
    border-color: @question_borders_color;
}

.error {
    background-color: @error_bg_color;
    color: @error_fg_color;
    border-color: @error_borders_color;
}
