/* Copyright 2013 Sam Hewitt.
*
* This file is part of the Moka GTK theme.
*
* The Moka GTK theme is free software: you can redistribute it
* and/or modify it under the terms of the GNU General Public License as
* published by the Free Software Foundation, either version 3 of the
* License, or (at your option) any later version.
*
* The Moka GTK theme is distributed in the hope that it will be
* useful, but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General
* Public License for more details.
*
* You should have received a copy of the GNU General Public License along
* with the Moka GTK theme. If not, see http://www.gnu.org/licenses/.
*/

/***********
 * Toolbar *
 ***********/

/* Main Colors*/
.toolbar {
    border-style: solid;
    border-color: @borders;
    border-width: 0px 0px 1px 0px;
    padding: 6px;
    background-color: @gradient_color_a;
    background-image: linear-gradient(to bottom,
                                  @gradient_color_a,
                                  @gradient_color_b
                                  );
}

.toolbar .button {
    padding: 2px;
}

.toolbar:insensitive {
    border-color: @insensitive_borders_color;
    background-image: linear-gradient(to bottom,
                                  @insensitive_gradient_color_a,
                                  @insensitive_gradient_color_b
                                  );
}

.toolbar:backdrop {
    border-color: @unfocused_borders_color;
    background-image: linear-gradient(to bottom,
                                  @unfocused_gradient_color_a,
                                  @unfocused_gradient_color_b
                                  );
}


/* Button Padding */
.toolbar .button.text-button {
    padding: 2px 16px;
}

.toolbar .button.image-button {
    padding: 6px 6px 6px 6px;
}

.toolbar GtkComboBox,
.toolbar .button {
    color: @text_color;
    border-color: @borders;
    background-image: linear-gradient(to bottom,
                                  @button_gradient_color_a,
                                  @button_gradient_color_b
                                  );
}

.toolbar GtkComboBox:active,
.toolbar .button:active {
    color: @text_color;
    border-color: @borders;
    background-image: linear-gradient(to bottom,
                                  @button_active_gradient_color_a,
                                  @button_active_gradient_color_b
                                  );
}

.toolbar .separator,
.toolbar .button .separator,
.toolbar .button.separator {
    color: @insensitive_separator_color;
}

/* Hover */
.toolbar .button:hover {
    color: @hover_text_color;
    border-color: @hover_selection_color;
    background-image: linear-gradient(to bottom,
                                  @button_hover_gradient_color_a,
                                  @button_hover_gradient_color_b
                                  );
}

.toolbar .button:active:hover {
    color: @hover_text_color;
    border-color: @hover_selection_color;
    background-image: linear-gradient(to bottom,
                                  @button_hover_gradient_color_b,
                                  @button_hover_gradient_color_a
                                  );
}

/* Insensitive */
.toolbar .button:insensitive,
.toolbar .button:active:insensitive {
    color: @insensitive_fg_color;
    border-color: @insensitive_borders_color;
    background-image: linear-gradient(to bottom,
                                      @button_insensitive_gradient_color_a,
                                      @button_insensitive_gradient_color_b
                                      );
}

.toolbar .separator:insensitive,
.toolbar .button .separator:insensitive,
.toolbar .button.separator:insensitive {
    color: @insensitive_separator_color;
}

/* Unfocused */
.toolbar .button:backdrop,
.toolbar .button:active:backdrop {
    color: @unfocused_fg_color;
    border-color: @unfocused_borders_color;
    background-image: linear-gradient(to bottom,
                                      @button_unfocused_gradient_color_a,
                                      @button_unfocused_gradient_color_b
                                      );
}

.toolbar .separator:backdrop,
.toolbar .button .separator:backdrop,
.toolbar .button.separator:backdrop {
    color: @unfocused_separator_color;
}


/*******************
 * Primary Toolbar *
 *******************/

.primary-toolbar .toolbar,
.primary-toolbar.toolbar {
    border-color: @borders;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    padding: 6px;
    background-color: @gradient_color_a;
    background-image: linear-gradient(to bottom,
                                  @gradient_color_a,
                                  @gradient_color_b
                                  );
}

.primary-toolbar .button.text-button {
    padding: 2px 16px;
}

.primary-toolbar GtkComboBox,
.primary-toolbar .button,
.primary-toolbar .button.image-button {
    color: @text_color;
    border-color: @borders;
    background-image: linear-gradient(to bottom,
                                  @button_gradient_color_a,
                                  @button_gradient_color_b
                                  );
}

.primary-toolbar GtkComboBox:active,
.primary-toolbar .button:active,
.primary-toolbar .button.image-button:active {
    color: @text_color;
    border-color: @borders;
    background-image: linear-gradient(to bottom,
                                  @button_active_gradient_color_a,
                                  @button_active_gradient_color_b
                                  );
}

.primary-toolbar .separator,
.primary-toolbar .button .separator,
.primary-toolbar .button.separator {
    color: @insensitive_separator_color;
}

/* Hover */
.primary-toolbar .button:hover {
    color: @hover_text_color;
    border-color: @hover_selection_color;
    background-image: linear-gradient(to bottom,
                                  @button_hover_gradient_color_a,
                                  @button_hover_gradient_color_b
                                  );
}

.primary-toolbar .button:active:hover {
    color: @hover_text_color;
    border-color: @hover_selection_color;
    background-image: linear-gradient(to bottom,
                                  @button_hover_gradient_color_b,
                                  @button_hover_gradient_color_a
                                  );
}

/* Insensitive */
.primary-toolbar .button:insensitive,
.primary-toolbar .button:active:insensitive {
    color: @insensitive_fg_color;
    border-color: @insensitive_borders_color;
    background-image: linear-gradient(to bottom,
                                      @button_insensitive_gradient_color_a,
                                      @button_insensitive_gradient_color_b
                                      );
}

.primary-toolbar .separator:insensitive,
.primary-toolbar .button .separator:insensitive,
.primary-toolbar .button.separator:insensitive {
    color: @insensitive_separator_color;
}

/* Unfocused */
.primary-toolbar .button:backdrop,
.primary-toolbar .button:active:backdrop {
    color: @unfocused_fg_color;
    border-color: @unfocused_borders_color;
    background-image: linear-gradient(to bottom,
                                      @button_unfocused_gradient_color_a,
                                      @button_unfocused_gradient_color_b
                                      );
}

.primary-toolbar .separator:backdrop,
.primary-toolbar .button .separator:backdrop,
.primary-toolbar .button.separator:backdrop {
    color: @unfocused_separator_color;
}

/******************
 * Inline Toolbar *
 ******************/

.inline-toolbar .toolbar,
.inline-toolbar.toolbar {
    border-color: @borders;
    border-width: 0px 1px 1px 1px;
    padding: 6px;
    background-color: @gradient_color_a;
    background-image: linear-gradient(to bottom,
                                  @gradient_color_b,
                                  @gradient_color_a
                                  );
    box-shadow: none;

    -GtkToolbar-button-relief: normal;
}

.inline-toolbar.toolbar:last-child {
    border-radius: 0px 0px 6px 6px;
    border-width: 0px 1px 1px 1px;
}

.inline-toolbar.toolbar.vertical:last-child {
    border-radius: 6px 6px 0px 0px;
    border-width: 0px 1px 1px 1px;
}

/* Buttons */
.inline-toolbar .button.text-button {
    padding: 2px 16px;
    background-image: linear-gradient(to bottom,
                              @button_gradient_color_a,
                              @button_gradient_color_b
                              );
}

.inline-toolbar .button.image-button,
.inline-toolbar .button.image-button:active {
    padding: 6px 6px 6px 6px;
    background-image: linear-gradient(to bottom,
                              @button_gradient_color_a,
                              @button_gradient_color_b
                              );
}

.inline-toolbar GtkComboBox,
.inline-toolbar .button {
    color: @text_color;
    border-color: @borders;
    padding: 6px 6px 6px 6px;
    background-image: linear-gradient(to bottom,
                                  @button_gradient_color_a,
                                  @button_gradient_color_b
                                  );
}

.inline-toolbar GtkComboBox:active,
.inline-toolbar .button:active {
    color: @text_color;
    border-color: @borders;
    background-image: linear-gradient(to bottom,
                                  @button_active_gradient_color_a,
                                  @button_active_gradient_color_b
                                  );
}

.inline-toolbar .separator,
.inline-toolbar .button .separator,
.inline-toolbar .button.separator {
    color: @separator;
}

/* Hover */
.inline-toolbar .button:hover {
    color: @hover_text_color;
    border-color: @hover_selection_color;
    background-image: linear-gradient(to bottom,
                                  @button_hover_gradient_color_a,
                                  @button_hover_gradient_color_b
                                  );
}

.inline-toolbar .button:active:hover {
    color: @hover_text_color;
    border-color: @hover_selection_color;
    background-image: linear-gradient(to bottom,
                                  @button_hover_gradient_color_b,
                                  @button_hover_gradient_color_a
                                  );
}


/* Insensitive */
.inline-toolbar .button:insensitive,
.inline-toolbar .button:active:insensitive {
    color: @insensitive_text_color;
    border-color: @insensitive_borders_color;
    background-image: linear-gradient(to bottom,
                                      @button_insensitive_gradient_color_a,
                                      @button_insensitive_gradient_color_b
                                      );
}

.inline-toolbar .separator:insensitive,
.inline-toolbar .button .separator:insensitive,
.inline-toolbar .button.separator:insensitive {
    color: @insensitive_separator_color;
}

/* Unfocused */
.inline-toolbar .button:backdrop,
.inline-toolbar .button:active:backdrop {
    color: @unfocused_fg_color;
    border-color: @unfocused_borders_color;
    background-image: linear-gradient(to bottom,
                                      @button_unfocused_gradient_color_a,
                                      @button_unfocused_gradient_color_b
                                      );
}

.inline-toolbar .separator:backdrop,
.inline-toolbar .button .separator:backdrop,
.inline-toolbar .button.separator:backdrop {
    color: @unfocused_separator_color;
}

/********************
 * Menubar Toolbars *
 ********************/
.toolbar.menubar {
    -GtkToolbar-button-relief: normal;
}

/**************
 * Header Bar *
 **************/

.header-bar,
.header-bar.toolbar {
    border-width: 0px 0px 1px 0px;
    border-style: solid;
    border-color: @borders;
    /*padding: top left bottom right;*/
    padding: 6px;
    background-image: linear-gradient(to bottom,
                                  @gradient_color_a,
                                  @gradient_color_b
                                  );
}

.header-bar .button.text-button {
    padding: 2px 16px;
}

.header-bar .button.image-button {    
    /*padding: top left bottom right;*/
    padding: 6px 6px 6px 6px;
}

/* Title */
.header-bar .title {
    font: Bold 11;
}

.header-bar .title:backdrop {
    color: @unfocused_text_color;
}

/* Subtitle */
.header-bar .subtitle {
    font: 9;
}

.header-bar GtkComboBox,
.header-bar .button {
    color: @text_color;
    border-color: @borders;
    background-image: linear-gradient(to bottom,
                                  @button_gradient_color_a,
                                  @button_gradient_color_b
                                  );
}

.header-bar GtkComboBox:active,
.header-bar .button:active {
    color: @text_color;
    border-color: @borders;
    background-image: linear-gradient(to bottom,
                                  @button_active_gradient_color_a,
                                  @button_active_gradient_color_b
                                  );
}

.header-bar GtkComboBox:backdrop,
.header-bar .button:backdrop,
.header-bar .button.image-button:backdrop {
    color: @unfocused_text_color;
    border-style: none;
    border-color: @unfocused_borders_color;
    background-color: @unfocused_bg_color;
    background-image: none;
}

.header-bar .button GtkImage:insensitive,
.header-bar GtkComboBox:insensitive,
.header-bar .button:insensitive {
    color: @insensitive_text_color;
    border-color: @insensitive_borders_color;
    background-image: linear-gradient(to bottom,
                                  @button_insensitive_gradient_color_a,
                                  @button_insensitive_gradient_color_b
                                  );
}

.header-bar GtkComboBox:hover,
.header-bar .button:hover {
    color: @hover_text_color;
    border-color: @hover_selection_color;
    background-image: linear-gradient(to bottom,
                                  @button_hover_gradient_color_a,
                                  @button_hover_gradient_color_b
                                  );
}

.header-bar GtkComboBox:active:hover,
.header-bar .button:active:hover {
    color: @hover_text_color;
    border-color: @hover_selection_color;
    background-image: linear-gradient(to bottom,
                                  @button_hover_gradient_color_b,
                                  @button_hover_gradient_color_a
                                  );
}

/* Separator */
.header-bar .separator,
.header-bar .button .separator,
.header-bar .button.separator {
    color: transparent;
}

/* Close button */

.header-bar .button GtkImage {
    border-radius: 6px;
    color: @text_color;
    border-style: solid;
    border-color: transparent;
    border-width: 0px;
}

.header-bar .button GtkImage:hover {
    color: @active_text_color;
    border-color: alpha(@borders, 0.4);
}

.header-bar .button GtkImage:active,
.header-bar .button GtkImage:active:hover {
    background-color: alpha(black, 0.08);
    box-shadow: inset 0 1px alpha(black, 0.05);
    color:  @button_active_text;
    icon-shadow: 0 1px @button_active_text_shadow;
    border-color: @borders;
}

.header-bar .button GtkImage:backdrop {
    color: @unfocused_text_color;
    icon-shadow: none;
}

.header-bar .button GtkImage:backdrop:hover {
    color: @fg_color;
}